<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/style.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block navbar %}
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="{{ url_for('get_games') }}">
          <span class="logo-text">Torrent</span>
        </a>
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link nav-link">
              Games
            </a>
            
            <div class="navbar-dropdown is-boxed animated-dropdown">
              <a class="navbar-item dropdown-item" href="{{ url_for('get_games') }}">
                All Games
              </a>
              <a class="navbar-item dropdown-item">
                Favorite Games
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link nav-link">
              Services
            </a>
            
            <div class="navbar-dropdown is-boxed animated-dropdown">
              <a class="navbar-item dropdown-item" href="{{ url_for('get_profile') }}">
                Profile
              </a>
              <a class="navbar-item dropdown-item" href="{{ url_for('get_swagger') }}">
                Swagger
              </a>
              <a class="navbar-item dropdown-item" href="{{ url_for('get_feedback') }}">
                Feedback
              </a>
            </div>
          </div>
          
          <a class="navbar-item nav-link" href="{{ url_for('get_about') }}">
            About
          </a>

        </div>
        
        <div class="navbar-end">
          <div class="navbar-item">
              <div class="buttons">
                  {% if session.get('username') %}
                      <span class="navbar-item">
                          <strong class="user-text">{{ session['username'] }}</strong>
                      </span>
                      <a class="button is-light animated-button" href="{{ url_for('get_logout') }}">
                          Log out
                      </a>
                  {% else %}
                      <a class="button is-primary animated-button" href="{{ url_for('get_signup') }}">
                          <strong>Sign up</strong>
                      </a>
                      <a class="button is-light animated-button" href="{{ url_for('get_login') }}">
                          Log in
                      </a>
                  {% endif %}
              </div>
            </div>
        </div>      
      </div>
    </div>
  </nav>
{% endblock %}
  
<section class="hero is-fullheight-with-navbar">
  {% block content %}
  {% endblock content %}
</section>
  
</body>
</html>